<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/static/styles.css" />
  <script src="/static/script.js"></script>

  <title>NCBoggle :)</title>
</head>
<body>
  <div id="grid">
    <div class="row">
      <div class="column">
        <div class="die" id="00">A</div>
      </div>
      <div class="column">
        <div class="die" id="01">B</div>
      </div>
      <div class="column">
        <div class="die" id="02">C</div>
      </div>
      <div class="column">
        <div class="die" id="03">D</div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="die" id="10">E</div>
      </div>
      <div class="column">
        <div class="die" id="11">F</div>
      </div>
      <div class="column">
        <div class="die" id="12">G</div>
      </div>
      <div class="column">
        <div class="die" id="13">H</div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="die" id="20">I</div>
      </div>
      <div class="column">
        <div class="die" id="21">J</div>
      </div>
      <div class="column">
        <div class="die" id="22">K</div>
      </div>
      <div class="column">
        <div class="die" id="23">L</div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <div class="die" id="30">M</div>
      </div>
      <div class="column">
        <div class="die" id="31">N</div>
      </div>
      <div class="column">
        <div class="die" id="32">O</div>
      </div>
      <div class="column">
        <div class="die" id="33">P</div>
      </div>
    </div>
    <div class="row" id="infoRow">
      <div class="column" id="word"></div>
      <div class="column" id="reset">Reset</div>
      <div class="column" id="submit">Submit</div>
    </div>
  </div>
</body>
</head>
